<!DOCTYPE html>
<html lang="en">
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Classic Race</title>
</head>
<body>
<div id="canvas-container">
    <canvas id="myCanvas"></canvas>
</div>
<script src="lib/easeljs-0.8.1.min.js"></script>
</body>
</html>