<!DOCTYPE html>
<html lang="en">
<head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Classic Race</title>
</head>
<body>
<div id="canvas-container">
    <canvas id="myCanvas"></canvas>
</div>
<div class="banner hide-banner">
    <div class="start hide-banner">Press SPACEBAR/ Tap the screen to start game </div>
    <div class="pause hide-banner">Press SPACEBAR to continue game</div>
    <!--<div class="end hide-banner">Press SPACEBAR/ Tap the screen to re-start game</div>-->
    <div class="end hide-banner">reload page to re-start game</div>
</div>
<script src="lib/easeljs-0.8.1.min.js"></script>
</body>
</html>