@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: url('./lib/aldrich.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

body * {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ADBDB0;
}

.banner {
  position: absolute;
  width: 100vw;
  height: 40vh;
  top: 35vh;
  left: 0;
  background: #A0BCA5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Aldrich;
  text-align: center;
  }

.hide-banner {
  top: -400000px;
  position: absolute;
}

@media (min-width: 275px) and (max-width: 1080px) {
  .banner {
    font-size: calc(20px + (80 - 20) * ((100vw - 275px) / (1080 - 275)));
    height: 30vh;
  }
}

@media (min-width: 1080px) and (max-width: 1900px) {
  .banner {
    font-size: calc(80px + (100 - 80) * ((100vw - 1080px) / (1900 - 1080)));
    height: 40vh;
  }
}

@media (min-width: 1900px) {
  .banner {
    font-size: 100px;
  }
}